body {
    margin: 0;
    padding: 0
}

div{
    background: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    font-family: font-family: muli,sans-serif;
}
.container{
    background-color:rgb(0, 0, 0);
    display:flex;
    border: 0px solid;
    margin: 0;
    padding: 0;
}
.fixed{
    background-color: #111;
    width: 150px;
    height: 100vh;
}
.flex-item{
    flex-grow: 1;
}

/* Sidebar Styles */
.list {
    text-align: left;
}
.button {
    background-color: #111;
 /* Green */
 box-sizing: border-box;
 border: none;
 padding: 15px 15px;
 font-family: "Open Sans",
 sans-serif;
 font-weight: bold;
 color: #fff;

 text-align: left;
 text-decoration: none;
 display: inline-block;
 font-size: 18px;
 margin: 2px 2px;
 cursor: pointer;
 width: 100%;
}

.button:hover{
    color: #fff;
    background: #e7ad52;
}

.gap { 
 height: 10px;

}